body {
    background: #4b4b4b url(/static/images/bg.gif) repeat-x 0 top;
    text-align: center;
    color: whitesmoke;
    font-size: 12pt;
    height: 100%;
    width: 60em;
    margin: 0 auto 0 auto;
}

blockquote {
    font-style: italic;
    padding-left: 1em;
    border-left: 2px dotted #999;
}

p {
    margin: 1em 0 1em 0;
}

table {
    text-align: center;
}
table td {
    padding: .5em 3em .5em 3em;
    border-bottom: 1px dotted #E9CB51;
}
table tr:first-child td {
    border-bottom: 2px solid #E9CB51;
}

ul.inline {
    display: inline;
}
ul.inline li {
    list-style-type: none;
    display: inline;
}

.errorlist {
    color: #F0014E;
}

#header {
    margin: 0 auto 1em auto;
    text-align: left;
}

.userbox {
    text-align: center;
    margin-top: -.25em;

    float: right;
    padding: 8px 5px 7px 10px;
    border-top: none;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    background: whiteSmoke;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FCFCFC',endColorstr='#ECECEC');
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#FCFCFC),to(#C4C4C4));
    background: -moz-linear-gradient(270deg,#FCFCFC,#ECECEC);
    border-color: #CCC;
    border: 1px solid #C9C9C9;
    border-bottom-color: whiteSmoke;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.username {
    display: inline;
    font-variant: small-caps;
    font-weight: bold;
    padding-right: 6px;
    color: #E9CB51;
}
.userbox .useropts {
    font-size: 90%;
    display: inline;
    margin-right: 1em;
}
.userbox .useropts li {
    list-style-type: none;
    display: inline;
    font-weight: bold;
}
.userbox .useropts li:after {
    font-size: 120%;
    content: " |";
    color: #9E1377;
}
.userbox .useropts li:last-child:after {
    content: "";
}
.userbox a:link, .userbox a:visited {
    color: #0E58B0;
    text-decoration: none;
}
.userbox a:hover {
    color: #9E1377;
    text-decoration: none;
    padding-bottom: .1em;
    border-bottom: 2px solid #0E58B0;
}

#content {
    text-align: left;
    margin: 1em 6em 1em 6em;
}
#content h2 {
    display: block;
    text-align: left;
    border-bottom: 1px solid #9E1377;
}
#content a:link, #content a:visited {
    color: #DDD;
    text-decoration: none;
    border-bottom: 1px solid #9E1377;
}
#content a:hover {
    color: #00B6E2;
    text-decoration: none;
    padding-bottom: .3em;
    border-bottom: 2px solid #9E1377;
}

#content .centered {
    text-align: center;
}
#content .centered h2 {
    text-align: center;
}

#content .login ul.inline li {
    display: block;
    margin-top: .5em;
}
#content .login form input {
    margin-top: 1em;
}

#content .blockform ul.inline li {
    display: block;
    width: 15em;
    margin-top: .5em;
}
#content .blockform form input {
    margin-left: 0em;
}
#content .blockform ul.inline li input {
    width: 100%;
}
#content .blockform ul.inline li textarea {
    width: 100%;
}

#content .newmsg ul.inline li {
    width: 25em;
}

#footer {
    display: block;
    font-family: monospace;
    font-size: 9pt;
    color: #AAA;
    margin: 2em auto 2em auto;
    border-top: 2px dotted #DDD;
    padding-top: 1em;
}
#footer a {
    color: #AAA;
    text-decoration: none;
    border-bottom: 1px solid #9E1377;
}
#footer a:hover {
    color: #00B6E2;
    text-decoration: none;
    padding-bottom: .3em;
    border-bottom: 2px solid #9E1377;
}
#footer ul li:after {
    content: " :: ";
    color: #00B6E2;
    color: #E9CB51;
}
#footer ul li:last-child:after {
    content: "";
}
