{% extends "accounts/base.html" %}

{% block content %}
<div class="centered login">
    {% if form.errors %}
    <p class="errorlist">Authentication error</p>
    {% endif %}

    <form action="{% url django.contrib.auth.views.login %}" method="post">
        {% csrf_token %}
        <ul class="inline">
            {% for field in form %}
            <li>{{ field.label_tag }}: {{ field }}</li>
            {{ field.errors }}
            {% endfor %}
        </ul>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
