<html>
  <head></head>
  <body>
	<table>
		<tr>
			{% if user.is_authenticated %} 
			  <td>{{ user.username }}</td>
			  <td>Inbox</td> 
			  <td>Account Settings</td> 
			  <td><a href="{% url django.contrib.auth.views.logout %}">Log Out</a></td> 
			{% else %} 
			  <td><a href="{% url django.contrib.auth.views.login %}">Log In</a></td>
			  <td><a href="{% url letsrpg.accounts.views.signup %}">Register</a></td>
			{% endif %}
		</tr>
	</table>
	
    {% block content %}
    {% endblock %}
  </body>
</html>
