{% extends "base.html" %}

{% block content %}
<div class="blockform">

    <h2>Welcome to LetsRPG!</h2>

    <p>
    LetsRPG is the meeting point for all RPG and fantasy game player. LetsRPG
    lets you in the latest news on RPG games, reviews, exclusive offeres,
    discussions, and more!
    </p>
    <p>
    LetsRPG makes it easy for everyone to set up a game, organize his team and
    schedule his gameplay. Create a profile in seconds and get started!
    </p>

    <p class="meta">
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/comic.js"></script>
    <img id="comic" src="{{ STATIC_URL }}images/load.gif" alt="comic" title="dowloading">
    <br />comic <a href="http://www.giantitp.com/">source</a>
    </p>

</div>
{% endblock %}
