{% extends "accounts/base.html" %}

{% block content %}
<div class="profile">

    <h2>Welcome to <span class="username">{{ homeuser }}</span>'s nest</h2>

    {% if user.is_authenticated %}
    <p>Send a private message to <strong>{{ homeuser }}</strong>!</p>
    <form action="{% url letsrpg.messages.views.new_message %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="receiver" value="{{ homeuser }}" />
        <input type="submit" value="Message" />
    </form>
    {% else %}
    <p>Hi <span class="userbox-name">stranger!</span>
    <a href="{% url django.contrib.auth.views.login %}">Login now to LetsRPG!</a></p>
    {% endif %}

</div>

{% endblock %}
