{% extends "accounts/base.html" %}

{% block content %}
<div class="profile">
	
	<h1>welcome to {{ homeuser|upper }}'s nest</h1>
	
	{% if user.is_authenticated %}		
		Hi <span class="userbox-name">{{ user.username }}</span>, 
		{% if user != homeuser %}	
			send a private message to <strong>{{ homeuser|upper }}</strong>!
			<form action="{% url letsrpg.messages.views.new_message %}" method="post">
			  {% csrf_token %}
			  <input type="hidden" name="receiver" value="{{ homeuser }}" />
			  <p><input type="submit" value="Message" /></p>
			</form>
			  {% if follow %}
				  <form action="{% url letsrpg.follows.views.follow %}" method="post">
				  {% csrf_token %}
				  <input type="hidden" name="followed" value="{{ homeuser }}" />
						<p><input type="submit" value="Follow" /></p>
				  </form>
			   {% else %}
				  <form action="{% url letsrpg.follows.views.unfollow %}" method="post">
				  {% csrf_token %}
				  <input type="hidden" name="followed" value="{{ homeuser }}" />
						<p><input type="submit" value="Unollow" /></p>
				  </form>
			  {% endif %}
			  <form action="{% url letsrpg.messages.views.to_wallpost %}" method="post">
			  {% csrf_token %}
			  <input type="hidden" name="receiver" value="{{ homeuser }}" />
			  <p><input type="submit" value="WallPost!" /></p>
			</form>
		{% endif %}
	{% else %}
		Hi <span class="userbox-name">stranger!</span>, 
		<a href="{% url django.contrib.auth.views.login %}">Login now to LetsRPG</a>
	{% endif %}
	
	<h1>Wall</h1>
	<ul class="inline">
        {% for message in messages %}
        <br />
        <li><strong>{{ message.userid_sender.username }}</strong> said:</li>
        <li>{{ message.message }}</li>
        {% endfor %}
    </ul>
	
</div>

{% endblock %}
