{% extends "accounts/base.html" %}

{% block content %}
<div class="blockform">

    <h2>Welcome to <span class="username">{{ homeuser }}</span>'s nest</h2>

    {% if user.is_authenticated %}
    {% if user != homeuser %}
    <p>Send a private message to <strong>{{ homeuser }}</strong>!</p>
    <form action="{% url letsrpg.messages.views.new_message %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="receiver" value="{{ homeuser }}" />
        <input type="submit" value="Message" />
    </form>
    {% if follow %}
    <p>Follow <strong>{{ homeuser }}</strong></p>
    <form action="{% url letsrpg.follows.views.follow %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="followed" value="{{ homeuser }}" />
        <input type="submit" value="Follow" />
    </form>
    {% else %}
    <p>Stop following <strong>{{ homeuser }}</strong></p>
    <form action="{% url letsrpg.follows.views.unfollow %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="followed" value="{{ homeuser }}" />
        <input type="submit" value="Unollow" />
    </form>
    {% endif %}
    <p>Post on <strong>{{ homeuser }}</strong>'s wall!</p>
    <form action="{% url letsrpg.messages.views.to_wallpost %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="receiver" value="{{ homeuser }}" />
        <input type="submit" value="WallPost!" />
    </form>
    {% endif %}
    {% else %}
    <p>Hi <span class="userbox-name">stranger!</span>
    <a href="{% url django.contrib.auth.views.login %}">Login now to LetsRPG!</a></p>
    {% endif %}

    <h2>Wall</h2>
    <ul class="inline">
        {% for message in messages %}
        <li><blockquote><strong>{{ message.userid_sender.username }}</strong> said:
            <br />{{ message.message }}</blockquote></li>
        {% endfor %}
    </ul>

</div>

{% endblock %}
