{% extends "accounts/base.html" %}

{% block content %}
<div class="messages">
    <h2>Inbox</h2>

    <ul class="inline">
        <li>From</li>
        <li>Date Sent</li>
        <li>Subject</li>
        <li>Action</li>
    </ul>

    <ul class="inline">
        <li>{% for message in messages %}</li>
        <li>{{ message.userid_sender }}</li>
        <li>{{ message.timestamp }}</li>
        <li>{{ message.subject }}</li>
        <li><a href="{% url letsrpg.messages.views.show_message message.pk%}">View it!</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
